html,body,#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

div{
  box-sizing: border-box;
}
.mytable{
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

}