html,body,#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

div{
  box-sizing: border-box;
}
.mytable{
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

}

.modal-base{
  height: 800px;
  width: 1000px!important;
  .ant-modal-content{
    width: 1000px;
    height: 600px;
    .ant-modal-body{
      width: 800px;
      height: 600px;
      display: flex;
      flex-direction: column;
      position: relative;
      .react-handsontable{
        overflow:auto;
        width: 800px;
        height: 400px;
      }
    }
  }
}